{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course 10</title>

    <!---custom css link---->
    <link rel="stylesheet" type="text/css" href="{% static 'stylec.css'%}">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!---start header---->
    <header>
        <a href="#" class="logo">
            <img src="{% static 'img/download.png'%}">
        </a>

        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/#courses">Courses</a></li>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>

    </header>

    <section class="home1" id="home1">
        <div class="home-text">

            <h5><b>Advanced Techniques for 3D Mapping using Drones: Principles, Methods, and Applications</b></h5>
            <h1>Internship Duration : 3 Months</h1>
        </div>
        <div class="parent1">
            <div class="div4">
                <p>
                    <b>The Problem statement:</b> The problem addressed in this course is the need for advanced techniques for 3D mapping using drones. While drones have
                    the potential to revolutionize mapping and surveying, there are significant challenges involved in creating accurate and
                    detailed 3D maps. This course focuses on exploring principles, methods, and applications of advanced techniques for 3D
                    mapping using drones, including data acquisition, preprocessing, feature extraction, segmentation, and 3D
                    reconstruction. The course aims to equip learners with the skills and knowledge needed to tackle real-world mapping
                    challenges using drone technology.
                </p>
                <br>
                <p>
                    <b>3D Object Tracking :</b> Advanced Techniques for 3D Object Tracking and Mapping using Drones: Principles, Methods, and Applications. The course
                    addresses the challenges of tracking 3D objects using drones and integrating the acquired data into 3D maps. It covers
                    various techniques such as computer vision, machine learning, and sensor fusion to achieve accurate and real-time
                    tracking and mapping in different environments and scenarios.
                </p>
                <br>
            <p>
                    <b>3D Mapping using Drones: </b>Advanced Techniques for 3D Mapping using Drones: Principles, Methods, and Applications can also cover 3D object
                    detection using drones. This involves detecting and identifying objects in 3D space using data captured by drones. The
                    course can cover various methods and techniques for 3D object detection, such as point cloud segmentation and feature
                    extraction. Additionally, applications of 3D object detection using drones can include inspection and monitoring of
                    infrastructure, construction sites, and industrial facilities.
                </p><br>
                <p>
                    <b>Sensor fusion:</b>Sensor fusion is a crucial aspect of advanced 3D mapping using drones. It involves the integration of data from multiple
                    sensors, such as cameras, lidar, and GPS, to obtain a more accurate and complete representation of the environment. This
                    technique allows for more robust and precise mapping results, enabling applications in various fields, such as
                    agriculture, surveying, and construction. The Advanced Techniques for 3D Mapping using Drones course covers the
                    principles, methods, and applications of sensor fusion in drone mapping, providing students with the knowledge and
                    skills to perform advanced mapping tasks.
                </p><br>
              
                <p>
                    <b>3D map visualization:</b> Advanced Techniques for 3D Mapping using Drones: Principles, Methods, and Applications" also covers the topic of 3D map
                    visualization. This includes the techniques for generating realistic and accurate 3D maps, as well as the methods for
                    visualizing these maps using different tools and software. The course explores the use of augmented reality and virtual
                    reality for 3D map visualization, and discusses the applications of 3D maps in various fields such as urban planning,
                    environmental monitoring, and disaster management.
                </p><br>
                
            </div>
            <div class="div5">
                <div class="home-img">
                    <img src="{% static 'img/course10.png'%}">
                </div>
            </div>
        </div>
    </section>
    <!---start contact section---->
    <section class="contact" id="contact">
        <div class="main-contact">
            <div class="contact-content">
                <img src="{% static 'img/antar prerana.png'%}">
                <img src="{% static 'img/LJ Smart LabZ Logo (1).png'%}">

            </div>

            <div class="contact-content">
                <li><a href="/">Home</a></li>
                <li><a href="/">Categories</a></li>
                <li><a href="/#courses">Courses</a></li>
                <li><a href="/#about">About Us</a></li>
                <li><a href="/#contact">Contact</a></li>
            </div>

            <div class="contact-content">
                <li><a href="/register">Profile</a></li>
                <li><a href="/register">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/register">Instructor</a></li>
                <li><a href="#">Dashboard</a></li>
            </div>

            <div class="contact-content">
                <li><a href="#">Ahmedabad,<br>704,LJ Smart Labz,Law Building,LJ Campus,LJ University Gujarat 382210</a>
                </li>
                <li><a href="#">bhushan@ljku.edu.in </a></li>
                <li><a href="#">9033096486</a></li>
            </div>

        </div>
    </section>

    <div class="last-text">
        <p>© 2022 LJ University</p>
    </div>

</body>

</html>
