{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course 10</title>

    <!---custom css link---->
    <link rel="stylesheet" type="text/css" href="{% static 'stylec.css'%}">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!---start header---->
    <header>
        <a href="#" class="logo">
            <img src="{% static 'img/download.png'%}">
        </a>

        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/#courses">Courses</a></li>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>

    </header>

    <section class="home1" id="home1">
        <div class="home-text">

            <h5><b>Drone-Based Surveillance and Security: Techniques and Applications of Image Processing and Machine Learning</b></h5>
            <h1>Internship Duration : 3 Months</h1>
        </div>
        <div class="parent1">
            <div class="div4">
                <p>
                    <b>The Problem statement is :</b>Drone-Based Surveillance and Security is an emerging field that leverages the power of image processing and machine
                    learning to monitor and secure various areas. The problem statement involves exploring and implementing advanced
                    techniques for drone-based surveillance and security, including object detection, tracking, and classification. The
                    course focuses on principles, methods, and applications of image processing and machine learning for drone-based
                    surveillance and security.
                </p>
                <br>
                <p>
                    <b>Drone-Based Surveillance and Security:</b>Involves the use of unmanned aerial vehicles equipped with cameras and image processing algorithms to track human
                    movements in real-time. The technology can be used in various applications such as security, search and rescue, and
                    monitoring crowd movements. The process involves capturing and processing images, detecting and tracking human targets,
                    and displaying the location and movements of the targets on a map or video feed. The technology can provide a valuable
                    tool for improving safety and security in various settings.
                </p>
                <br>
            <p>
                <b>An alert system for drone:</b> Surveillance can be implemented to send notifications to a phone in case of any suspicious activities detected by the
                drone's image processing system. This system can be designed to send real-time alerts to the relevant authorities,
                enabling them to take necessary action quickly. It can also provide the drone operator with valuable information on
                potential security threats, allowing them to adjust the drone's trajectory and monitor the situation more closely.
            </p>
            <br>
            </div>
            <div class="div5">
                <div class="home-img">
                    <img src="{% static 'img/interc9.png'%}">
                </div>
            </div>
        </div>
    </section>
    <!---start contact section---->
    <section class="contact" id="contact">
        <div class="main-contact">
            <div class="contact-content">
                <img src="{% static 'img/antar prerana.png'%}">
                <img src="{% static 'img/LJ Smart LabZ Logo (1).png'%}">

            </div>

            <div class="contact-content">
                <li><a href="/">Home</a></li>
                <li><a href="/">Categories</a></li>
                <li><a href="/#courses">Courses</a></li>
                <li><a href="/#about">About Us</a></li>
                <li><a href="/#contact">Contact</a></li>
            </div>

            <div class="contact-content">
                <li><a href="/register">Profile</a></li>
                <li><a href="/register">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/register">Instructor</a></li>
                <li><a href="#">Dashboard</a></li>
            </div>

            <div class="contact-content">
                <li><a href="#">Ahmedabad,<br>704,LJ Smart Labz,Law Building,LJ Campus,LJ University Gujarat 382210</a>
                </li>
                <li><a href="#">bhushan@ljku.edu.in </a></li>
                <li><a href="#">9033096486</a></li>
            </div>

        </div>
    </section>

    <div class="last-text">
        <p>© 2022 LJ University</p>
    </div>

</body>

</html>
