{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Course 3</title>

	<!---custom css link---->
	<link rel="stylesheet" type="text/css" href="{% static 'stylec.css'%}">

	<link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

	<!---start header---->
	<header>
		<a href="#" class="logo">
			<img src="{% static 'img/download.png'%}">
		</a>

		<ul class="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/#courses">Courses</a></li>
			<li><a href="/#about">About Us</a></li>
			<li><a href="/#contact">Contact</a></li>
		</ul>

		
	</header>
    <!---start home section---->
	
	<section class="home1" id="home1">
		<div class="home-text">
			<h5><b>Design and development of drone hardware and software systems</b></h5>
			
            
		</div>
		<div class="parent1">
			<div class="div4">
				<p><b>The Problem statement is : </b> Designing and developing drone hardware and software systems using flight controllers, Motors,
				and ESC for specific tasks such as agriculture, defense, and photography. Designing and developing this type of system
				involves a combination of electrical and mechanical engineering, software engineering, and computer science. As an
				intern in this area, you would have the opportunity to work on various aspects of drone design and development, such as:
				</p><br>
				<p><b>Hardware Design : </b>This could involve designing and testing components such as motors, controllers, batteries, and cameras for drone
				systems.</p><br>
				<p><b>Software Development : </b>This could involve developing and testing software for drone flight control, navigation, image processing, and data
				management.</p><br>
				<p><b>Flight Testing : </b>This could involve conducting flight tests of drone prototypes to validate the design and performance of the hardware
				and software systems.</p><br>
				<p><b>Integration : </b>This could involve integrating various components and systems, such as sensors, cameras, and data management systems,
				into a complete drone system.</p><br>
				<p><b>Debugging and Troubleshooting : </b>This could involve identifying and fixing issues in the hardware and software systems to ensure the reliable and safe
				operation of the drones.</p><br>
				<p>Overall, designing and developing drone hardware and software systems is a challenging and rewarding area of work
					that
					requires a strong understanding of engineering principles, technical skills, and a passion for innovation.</p><br>
			</div>
			<div class="div5">
				<div class="home-img">
					<img src="{% static 'img/ac31.png'%}">
				</div>
			</div>
		</div>
		<div class="new">
			<h5>There are many flight controllers available for drones</h5>
            <p><b>DJI Naza-M V2:</b> This is a highly popular and reliable flight controller, known for its stability and ease of use. It is
            compatible with a wide range of drone models and supports a variety of flight modes.</p>
            <p><b>Pixhawk:</b>This open-source flight controller is highly customizable and is a favorite among drone enthusiasts and professionals.
            It offers advanced features like autonomous waypoint navigation and can be programmed with a variety of software platforms.</p>
            <p><b>APM 2.8:</b>This is an older flight controller but is still a popular choice for budget-conscious drone builders. It is an
            open-source platform that offers basic features like GPS, altitude hold, and stable flight.</p>
            <p><b>Kiss FC:</b>This flight controller is designed for high-performance racing drones, offering low-latency response and advanced flight
            features. It is a more expensive option, but popular among professional drone racers.</p>
		</div>
		</div>
</section>
     <!---start contact section---->
	<section class="contact" id="contact">
		<div class="main-contact">
			<div class="contact-content">
				<img src="{% static 'img/antar prerana.png'%}">
				<img src="{% static 'img/LJ Smart LabZ Logo (1).png'%}">
				
			</div>

			<div class="contact-content">
				<li><a href="/">Home</a></li>
			  <li><a href="/">Categories</a></li>
			  <li><a href="/#courses">Courses</a></li>
			  <li><a href="/#about">About Us</a></li>
			  <li><a href="/#contact">Contact</a></li>
			</div>

			<div class="contact-content">
				<li><a href="/register">Profile</a></li>
				<li><a href="/register">Login</a></li>
				<li><a href="/register">Register</a></li>
				<li><a href="/register">Instructor</a></li>
				<li><a href="#">Dashboard</a></li>
	/		</div><div class="contact-content">
					<li><a href="#">Ahmedabad,<br>704,LJ Smart Labz,Law Building,LJ Campus,LJ University Gujarat 382210</a></li>
			    <li><a href="#">sahil.padhiyar@ljku.edu.in</a></li>
                <li><a href="#">8238927002</a></li>
			</div>

		</div>
	</section>

	<div class="last-text">
		<p>© 2022 LJ University</p>
	</div>

</body>
</html>
