{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Course 5</title>

	<!---custom css link---->
	<link rel="stylesheet" type="text/css" href="{% static 'stylec.css'%}">

	<link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

	<!---start header---->
	<header>
		<a href="#" class="logo">
			<img src="{% static 'img/download.png'%}">
		</a>

		<ul class="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="/#courses">Courses</a></li>
			<li><a href="/#about">About Us</a></li>
			<li><a href="/#contact">Contact</a></li>
		</ul>

		
	</header>
    <!---start home section-->

	<section class="home1" id="home1">
		<div class="home-text">
		
            <h5><b>Designing of Agricultural Spraying Drone.</b></h5>
			
		</div>
		<div class="parent1">
			<div class="div4">
				<p>Designing an agricultural spraying drone that can spray
pesticides autonomously and avoid obstacles during the flights and designing an
agricultural spraying drone include battery life, flight time, weatherproofing, and
maintenance requirements.</p>
				<p>
					<b>Drone Frame:</b>The drone frame should be lightweight, sturdy, and durable. It
should also be designed to accommodate the payload of the spraying system,
which may include a tank for holding the liquid spray, a pump, and a nozzle.
</p><br>
				<p>
					<b>Spraying System:</b>The spraying system should be designed to efficiently and
accurately deliver the desired amount of spray to the crops. It should be able to
adjust the spray rate and pattern based on the crop type, size, and growth stage.
The system should also be designed to minimize drift and optimize coverage, to
ensure the spray is targeted to the intended areas and avoid contaminating
surrounding crops or the environment.
</p><br>
				<p>
					<b> Navigation and Control System:</b> The drone must have a robust navigation and
control system to ensure safe and accurate operation. The system should include
GPS, obstacle avoidance sensors, and a control interface that allows the
operator to program the flight path, altitude, and spray parameters. The drone
should also have the capability to fly autonomously or remotely piloted by an
operator.</p><br>
				<p>Overall, designing an agricultural spraying drone requires careful attention to the
specific needs of the crop and the farming operation. A well-designed drone can
significantly improve efficiency, reduce labor costs, and improve crop yields while
minimizing environmental impact.</p>
			</div>
			<div class="div5">
				<div class="home-img">
					<img src="{% static 'img/feature.jpg'%}">
				</div>
			</div>
		</div>
		</div>
</section>
     <!---start contact section---->
	<section class="contact" id="contact">
		<div class="main-contact">
			<div class="contact-content">
				<img src="{% static 'img/antar prerana.png'%}">
				<img src="{% static 'img/LJ Smart LabZ Logo (1).png'%}">
				
			</div>

			<div class="contact-content">
				<li><a href="/">Home</a></li>
			  <li><a href="/">Categories</a></li>
			  <li><a href="/#courses">Courses</a></li>
			  <li><a href="/#about">About Us</a></li>
			  <li><a href="/#contact">Contact</a></li>
			</div>

			<div class="contact-content">
				<li><a href="/register">Profile</a></li>
				<li><a href="/register">Login</a></li>
				<li><a href="/register">Register</a></li>
				<li><a href="/register">Instructor</a></li>
				<li><a href="#">Dashboard</a></li>
			</div>

			<div class="contact-content">
					<li><a href="#">Ahmedabad,<br>704,LJ Smart Labz,Law Building,LJ Campus,LJ University Gujarat 382210</a></li>
				<li><a href="#">bhushan@ljku.edu.in </a></li>
				<li><a href="#">9033096486</a></li>
			</div>

		</div>
	</section>

	<div class="last-text">
		<p>© 2022 LJ University</p>
	</div>

</body>
</html>
