{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Course 5</title>

	<!---custom css link---->
	<link rel="stylesheet" type="text/css" href="{% static 'stylec.css'%}">

	<link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

	<!---start header---->
	<header>
		<a href="#" class="logo">
			<img src="{% static 'img/download.png'%}">
		</a>

		<ul class="navbar">
			<li><a href="/index">Home</a></li>
			<li><a href="/index">Courses</a></li>
			<li><a href="/index">About Us</a></li>
			<li><a href="/index">Contact</a></li>
		</ul>

		<div class="header-icons">
			<button class="bt1"><a href="/register">REGISTER</a></button>
			<div class="bx bx-menu" id="menu-icon"></div>
		</div>
	</header>
    <!---start home section-->

	<section class="home1" id="home1">
		<div class="home-text">
		
            <h5><b>Designing of Agricultural Spraying Drone.</b></h5>
			<h1>Internship Duration : 3 Months</h1>
		</div>
		<div class="parent1">
			<div class="div4">
				<p>
					<b>GIS Integration: </b>Integrating drone systems with GIS can allow for the overlay of geographic and mapping data with aerial images captured by drones. This can provide a powerful tool for tasks such as environmental monitoring, land use planning, and disaster response.
				</p><br>
				<p>
					<b>Wireless Communication : </b>Integrating drone systems with wireless communication networks can allow for real-time data transfer and control of drones, even when they are flying beyond the line of sight. This can greatly enhance the capabilities of drones for applications such as search and rescue, inspection, and surveillance.
				</p><br>
				<p>
					<b>Cloud Computing : </b>Integrating drone systems with cloud computing platforms can allow for the processing and storage of large amounts of aerial data in real time. This can provide valuable insights for industries such as agriculture, where drone images can be used to monitor crop health, and environmental monitoring, where drone images can be used to detect changes in land cover.

				</p><br>
				<p>Overall, the integration of drone systems with other technologies such as GIS, wireless communication, and cloud computing can provide significant benefits in terms of functionality, efficiency, and scalability. It is an important area of development in the field of drone technology and an exciting area of focus for interns interested in the application of drone systems.</p><br>
			
			</div>
			<div class="div5">
				<div class="home-img">
					<img src="{% static 'img/feature.jpg'%}">
				</div>
			</div>
		</div>
		</div>
</section>
     <!---start contact section---->
	<section class="contact" id="contact">
		<div class="main-contact">
			<div class="contact-content">
				<img src="{% static 'img/antar prerana.png'%}">
				<img src="{% static 'img/LJ Smart LabZ Logo (1).png'%}">
				
			</div>

			<div class="contact-content">
				<li><a href="#home">Home</a></li>
			  <li><a href="#categories">Categories</a></li>
			  <li><a href="#courses">Courses</a></li>
			  <li><a href="#about">About Us</a></li>
			  <li><a href="#contact">Contact</a></li>
			</div>

			<div class="contact-content">
				<li><a href="/register">Profile</a></li>
				<li><a href="/register">Login</a></li>
				<li><a href="/register">Register</a></li>
				<li><a href="/register">Instructor</a></li>
				<li><a href="#">Dashboard</a></li>
			</div>

			<div class="contact-content">
				<li><a href="#">Ahmedabad,<br>Sarkhej-Okaf, Gujarat 382210</a></li>
				<li><a href="#">placement@ljinstitutes.edu.in </a></li>
				<li><a href="#">01646895741</a></li>
			</div>

		</div>
	</section>

	<div class="last-text">
		<p>© 2022 LJ University</p>
	</div>

</body>
</html>