{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course 1</title>

    <!---custom css link---->
    <link rel="stylesheet" type="text/css" href="{% static 'stylec.css'%}">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!---start header---->
    <header>
        <a href="#" class="logo">
            <img src="{% static 'img/download.png'%}">
        </a>

        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/#courses">Courses</a></li>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>

    </header>

    <section class="home1" id="home1">
        <div class="home-text">

            <h5><b>Drone-Based Lake Water Level Measurement and Analysis using Image Processing Techniques</b></h5>
            <h1>Internship Duration : 3 Months</h1>
        </div>
        <div class="parent1">
            <div class="div4">
                <p>
                    <b>The Problem statement is :</b> The objective of this project is to find the presence and location of water in a lake using a drone. This can be a
                    challenging task because water bodies can have varying depths, and their surfaces can be covered with vegetation, which
                    makes it difficult to identify the presence of water visually. Additionally, large lakes may require extensive scanning,
                    which can be time-consuming and expensive. A drone equipped with advanced sensors and imaging technology could provide
                    an efficient and cost-effective solution to this problem. The challenge is to develop an accurate and reliable method of
                    detecting and mapping water bodies using a drone.
                </p>
                <br>
                 <p>
                    <b>The Probable Solution is :</b> To precisely identify and plan water bodies in a lake utilizing a robot, a 
                     blend of cutting edge sensors and imaging innovation can be used. A multispectral camera that can capture
                     images at various wavelengths of light can be attached to the drone, making it possible to identify water 
                     bodies and vegetation. A LiDAR sensor, which can accurately measure the water's depth, can also be added 
                     to the drone. A map of the lake, including the locations of water bodies and their depths, would be created 
                     from the data gathered by these sensors through computer vision and machine learning methods. Additionally,
                     the drone can be programmed to fly in a predetermined pattern over the lake in order to quickly capture images and data. 
                     The arrangement would give an exact and dependable technique for distinguishing and planning water bodies in a
                     lake utilizing a robot, making the undertaking more productive and savvy than customary strategies.
                </p>
                <br>
                     <p>
                    <b>
                        Water detection using drones:</b>Water detection using drones involves using various sensors and cameras to detect water sources such as lakes,
                         rivers, or underground water bodies. The collected data is then analyzed using image processing techniques and machine learning algorithms to accurately identify and map the location of the water source. 
                         This information is useful for various applications such as agriculture, urban planning, and environmental monitoring.
                </p>
                <br>
                   <p>
                    <b>Edge detection using drones:</b>Edge detection using drones involves detecting the edges of objects or features in an image or video captured by a drone.
                       This process can help with a variety of applications, such as object detection, obstacle avoidance, and terrain analysis. By detecting edges, the drone can 
                       better navigate its environment and make decisions based on the detected features.
                       Advanced techniques for edge detection using drones involve using deep learning algorithms and computer vision techniques to improve accuracy and speed.
                </p>
                <br>
                 <p>
                    <b>Water level sensor analysis:</b>Water level sensor analysis fusion involves integrating data from multiple sensors, such as pressure transducers, 
                     ultrasonic sensors, and radar sensors, to accurately measure water level in a given area. This data is then processed using advanced techniques such as machine
                     learning algorithms and statistical modeling to analyze and predict water levels. Such analysis can be used for flood prediction and mitigation, irrigation management, and 
                     environmental monitoring. Drones can play a crucial role in deploying and collecting data from these sensors in remote or hard-to-reach areas.
                </p>
                <br>
            </div>
            <div class="div5">
                <div class="home-img">
                    <img src="{% static 'img/course6.png'%}">
                </div>
            </div>
        </div>
    </section>
    <!---start contact section---->
    <section class="contact" id="contact">
        <div class="main-contact">
            <div class="contact-content">
                <img src="{% static 'img/antar prerana.png'%}">
                <img src="{% static 'img/LJ Smart LabZ Logo (1).png'%}">

            </div>

            <div class="contact-content">
                <li><a href="/">Home</a></li>
                <li><a href="/">Categories</a></li>
                <li><a href="/#courses">Courses</a></li>
                <li><a href="/#about">About Us</a></li>
                <li><a href="/#contact">Contact</a></li>
            </div>

            <div class="contact-content">
                <li><a href="/register">Profile</a></li>
                <li><a href="/register">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/register">Instructor</a></li>
                <li><a href="#">Dashboard</a></li>
            </div>

            <div class="contact-content">
                <li><a href="#">Ahmedabad,<br>704,LJ Smart Labz,Law Building,LJ Campus,LJ University Gujarat 382210</a>
                </li>
                <li><a href="#">bhushan@ljku.edu.in </a></li>
                <li><a href="#">9033096486</a></li>
            </div>

        </div>
    </section>

    <div class="last-text">
        <p>© 2022 LJ University</p>
    </div>

</body>

</html>
