{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course 7</title>

    <!---custom css link---->
    <link rel="stylesheet" type="text/css" href="{% static 'stylec.css'%}">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!---start header---->
    <header>
        <a href="#" class="logo">
            <img src="{% static 'img/download.png'%}">
        </a>

        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/#courses">Courses</a></li>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>

    </header>

    <section class="home1" id="home1">
        <div class="home-text">

            <h5><b>Advanced Path Planning and Navigation for Drones: Techniques and Applications</b></h5>
            <h1>Internship Duration : 3 Months</h1>
        </div>
        <div class="parent1">
            <div class="div4">
                <p>
                    <b>The Problem statement is :</b> Design an efficient and intelligent path planning system for a drone that can navigate through complex and dynamic
                    environments, avoid obstacles, and reach its destination quickly and safely. The system should be able to adapt to
                    changes in the environment and account for external factors such as wind and weather conditions. The drone's path should
                    be optimized for minimal energy consumption, while ensuring that it maintains a safe distance from obstacles and follows
                    a specified trajectory. The system should also have the ability to handle multiple objectives and constraints, such as
                    time constraints, battery life, and payload weight, while still achieving optimal path planning. The solution should be
                    scalable, flexible, and easily customizable for different drone types and environments.
                </p>
                <br>
              <p>
                    <b>The Probable Solution is :</b> A hierarchical architecture with layers for perception, decision-making, 
                  and action can be used to create an effective and intelligent drone path planning system. The insight layer 
                  would accumulate data about the climate, for example, the area of snags, wind speed, and weather patterns. 
                  The dynamic layer would produce a way that limits energy utilization while keeping away from snags and following a
                  predefined direction, considering outside factors. The activity layer would control the robot's developments to 
                  follow the produced way. While still achieving optimal path planning, the system would be able to handle multipl
                  e objectives and constraints, such as time constraints, battery life constraints, and payload weight 
                  constraints. The solution would be adaptable, 
                  scalable, and simple to modify for various drone types and settings.
                </p>
                <br>
               <p>
                    <b>Setting up Gazebo Environment:  </b>Setting up path planning in Gazebo involves configuring the software to incorporate advanced path
                   planning algorithms and techniques. This includes defining the environment, robot models, sensors, and controllers, and integrating path planning algorithms such as A* 
                   and D* into the system. Once set up, Gazebo can be used to simulate and test path planning algorithms in complex and dynamic environments.
                </p><br>
                <p>
                    <b>
                        Trajectory selection:</b>
                    Trajectory selection is a critical component of advanced path planning, as it involves selecting the optimal trajectory for the robot to follow in order to reach
                    its target destination. This process involves evaluating various factors such as obstacle avoidance, energy efficiency, and time constraints to determine the most 
                    efficient and effective trajectory for the robot to follow. Advanced techniques such as machine learning algorithms can be 
                    used to automate and optimize this process, enabling robots to navigate complex and dynamic environments with greater efficiency and accuracy.
                </p><br>
                <p>
                    <b>
                        Setting up navigation software for SLAM:</b>Simultaneous Localization and Mapping in advanced path planning requires configuring the software to 
                    incorporate SLAM algorithms and techniques. This involves defining the robot model, sensors, and controllers, and integrating SLAM algorithms such as EKF (Extended Kalman Filter) and 
                    FastSLAM into the system. Once set up, the SLAM system can be used to accurately localize the robot and map the environment in real-time, 
                    enabling advanced path planning algorithms to navigate complex and dynamic environments with greater accuracy and efficiency.
                </p><br>
                <p>
                    <b>Finding the best path planning algorithm:</b>Finding the best path planning algorithm for advanced path planning involves evaluating various algorithms 
                    based on factors such as efficiency, accuracy, robustness, and adaptability to different environments. Popular algorithms for advanced path planning include A* 
                    algorithm, D* algorithm, RRT (Rapidly-exploring Random Tree), and MPC (Model Predictive Control). The choice of algorithm depends on the specific requirements of the application and the characteristics 
                    of the environment, such as the presence of obstacles, the complexity of the terrain, and the speed and mobility of the robot.
                <p>
                
            </div>
            <div class="div5">
                <div class="home-img">
                    <img src="{% static 'img/advpathc7.png'%}">
                </div>
            </div>
        </div>
    </section>
    <!---start contact section---->
    <section class="contact" id="contact">
        <div class="main-contact">
            <div class="contact-content">
                <img src="{% static 'img/antar prerana.png'%}">
                <img src="{% static 'img/LJ Smart LabZ Logo (1).png'%}">

            </div>

            <div class="contact-content">
                <li><a href="/">Home</a></li>
                <li><a href="/">Categories</a></li>
                <li><a href="/#courses">Courses</a></li>
                <li><a href="/#about">About Us</a></li>
                <li><a href="/#contact">Contact</a></li>
            </div>

            <div class="contact-content">
                <li><a href="/register">Profile</a></li>
                <li><a href="/register">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/register">Instructor</a></li>
                <li><a href="#">Dashboard</a></li>
            </div>

            <div class="contact-content">
                <li><a href="#">Ahmedabad,<br>704,LJ Smart Labz,Law Building,LJ Campus,LJ University Gujarat 382210</a>
                </li>
                <li><a href="#">bhushan@ljku.edu.in </a></li>
                <li><a href="#">9033096486</a></li>
            </div>

        </div>
    </section>

    <div class="last-text">
        <p>© 2022 LJ University</p>
    </div>

</body>

</html>
