{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course 8</title>

    <!---custom css link---->
    <link rel="stylesheet" type="text/css" href="{% static 'stylec.css'%}">

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>

    <!---start header---->
    <header>
        <a href="#" class="logo">
            <img src="{% static 'img/download.png'%}">
        </a>

        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/#courses">Courses</a></li>
            <li><a href="/#about">About Us</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>

    </header>

    <section class="home1" id="home1">
        <div class="home-text">

            <h5><b>Automated Vehicle Detection and Counting using Image Processing Techniques</b></h5>
        
        </div>
        <div class="parent1">
            <div class="div4">
                <p>
                    <b>The Problem statement is :</b> In a large parking lot, it is difficult and time-consuming to
                    manually count the number of vehicles present at any given
                    time. This leads to inefficiencies in managing the parking lot and can result in overcrowding or
                    underutilization of
                    parking spaces. The use of drones for vehicle counting in parking lots can provide a faster and more
                    accurate way of
                    counting the number of vehicles present. However, the challenge lies in developing an automated
                    system for drone-based
                    vehicle counting that can handle the complexities of a large parking lot with multiple levels and
                    structures, varying
                    lighting conditions, and occlusions caused by obstacles such as pillars and other parked vehicles.
                </p>
                <br>
                <p>
                    <b>The Probable Solution is :</b> A mechanized framework for drone-based vehicle including in
                    parking garages can be created utilizing PC vision and AI methods. A deep neural network would be
                    trained for the system to recognize and count the number of vehicles in the parking lot. An
                    extensive
                    set of images of vehicles in various lighting conditions and with varying occlusions caused by
                    obstacles would be
                    used to train the network. The high-resolution camera on the drone would allow it to take pictures
                    of the cars as it flew over the
                    parking lot. The trained neural network would be used to process the images after they were sent to
                    a computer. By dividing the parking lot
                    into smaller regions and processing each region separately, the system would be able to deal with
                    the complexity of a large parking lot with
                    multiple levels and structures. The solution would make it possible to count the number of cars in
                    the parking lot more quickly and accurately,
                    allowing for better parking lot management and avoiding overcrowding or underuse of parking spaces.
                </p>
                <br>
                <p>
                    <b>Image Acquisition: </b>Image acquisition is a crucial step in vehicle counting using drones and
                    image processing techniques, as it involves capturing high-quality images of the target environment.
                    This includes selecting appropriate
                    camera settings, positioning the drone for optimal coverage, and planning the flight path to ensure
                    comprehensive coverage of the area of interest.
                </p><br>
                <p>
                    <b>Image Preprocessing:</b>Image preprocessing is an essential s
            
                    tep in vehicle counting using drones and image processing techniques. It involves
                    techniques such as noise reduction, image normalization, and feature enhancement to prepare the
                    acquired images for further analysis and counting. Preprocessing ensures accurate and efficient
                    vehicle counting results.
            
            
            
            
            
                </p><br>
                <p>
                    <b>Segmentation:</b>Segmentation is a critical step in vehicle counting using drones and image
                    processing techniques, as it
                    involves dividing the images into regions based on their characteristics. This helps to identify and
                    isolate vehicles from the background, making it easier to count them accurately.
                    Segmentation techniques such as thresholding, edge detection, and region growing can be used to
                    improve vehicle detection and counting results.
                </p><br>
                <p>
                    <b>Feature Extraction:</b> Feature extraction is a crucial technique in vehicle counting using
                    drones and image processing techniques.
                    It involves identifying and extracting relevant information from the images, such as vehicle size,
                    shape, and color. This helps to distinguish vehicles from other objects in the image and accurately
                    count them.
                    Feature extraction techniques such as template matching, object recognition, and machine learning
                    algorithms can be used to improve vehicle counting accuracy.
                </p><br>
                <p>
                    <b>Classification:</b>TClassification is an important step in vehicle counting using drones and
                    image processing techniques,
                    as it involves categorizing the segmented regions into specific classes or objects, such as cars,
                    trucks, or buses. This helps to accurately count the number of each type of vehicle in the image,
                    which can be useful for traffic analysis and planning. Classification techniques such as machine
                    learning algorithms can improve vehicle classification accuracy.
                </p><br>
                <p>
                    <b>Counting:</b>counting using drones and image processing techniques, as it involves accurately
                    counting the number of vehicles in the image.
                    This can be achieved through techniques such as object detection and tracking, and machine
                    learning algorithms. Accurate vehicle counting can provide valuable insights into traffic patterns
                    and can aid in traffic management and planning.
                </p><br>
            </div>
            <div class="div5">
                <div class="home-img">
                    <img src="{% static 'img/parkingc7.png'%}">
                </div>
            </div>
        </div>
    </section>
    <!---start contact section---->
    <section class="contact" id="contact">
        <div class="main-contact">
            <div class="contact-content">
                <img src="{% static 'img/antar prerana.png'%}">
                <img src="{% static 'img/LJ Smart LabZ Logo (1).png'%}">

            </div>

            <div class="contact-content">
                <li><a href="/">Home</a></li>
                <li><a href="/">Categories</a></li>
                <li><a href="/#courses">Courses</a></li>
                <li><a href="/#about">About Us</a></li>
                <li><a href="/#contact">Contact</a></li>
            </div>

            <div class="contact-content">
                <li><a href="/register">Profile</a></li>
                <li><a href="/register">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/register">Instructor</a></li>
                <li><a href="#">Dashboard</a></li>
            </div>

            <div class="contact-content">
                <li><a href="#">Ahmedabad,<br>704,LJ Smart Labz,Law Building,LJ Campus,LJ University Gujarat 382210</a>
                  <li><a href="#">sahil.padhiyar@ljku.edu.in</a></li>
                <li><a href="#">8238927002</a></li>
            </div>

        </div>
    </section>

    <div class="last-text">
        <p>© 2022 LJ University</p>
    </div>

</body>

</html>
