{% autoescape off %}

<!DOCTYPE html>
<html>

<body>
    <p>Dear {{ registeruserdata.first_name }},</p>
    <p>Thank you for expressing your interest in the Drone Open Innovation Challenges. I am delighted to inform you that
        your enrollment has been successful, and we would like to invite you for an interview as part of the selection
        process.</p>

    <p>The interview will provide us with an opportunity to learn more about you, your qualifications, and your
        innovative ideas related to the drone industry. We will discuss the challenges in detail, including the
        objectives, requirements, and any questions or concerns you may have. Your insights and creativity will play a
        crucial role in shaping the future of drone technology.
        Please note that the interview date and time will be sent to you as soon as possible. We are currently
        finalizing the schedule and will provide you with the details shortly. The interview will either be conducted in
        person at LJ Smart Labz or via a video call using google meet.</p>
    <p>If you have any scheduling conflicts or require any accommodations for the interview, please let us know as soon
        as possible, and we will do our best to accommodate your needs.</p>
    <p>We are excited to meet you and learn more about your ideas and contributions to the Drone Open Innovation
        Challenges. If you have any further questions or need additional information before the interview, please feel
        free to reach out to us.</p>

    <p>Best regards,</p>
    <p>Sahil Padhiyar <br> Assistant project manager <br> 8238927002</p>

</body>

</html>


{% endautoescape %}