<!DOCTYPE html>
<html>
  <head>
    <style>
      td {
        text-align: center;
      }
    </style>
  </head>
<body>

<table border='1' style="width:100%" >
  <tr>
    <th>id</th>
    <th>espid</th>
    <th>no</th>
    <th>current</th>
    <th>time</th>
    
  </tr>
  {% for x in mymembers %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.espid }}</td>
        <td>{{ x.no }}</td>
        <td>{{ x.accur }}</td>
        <td>{{ x.time }}</td>
        <!-- <td>{{ x.ac1 }}</td>
        <td>{{ x.ping }}</td> -->

    </tr>
  {% endfor %}
</table>

</body>
</html>   
